* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Gilory;
  src: url("../../fonts/Gilroy-Medium.eot") format("eot"),
    url("../../fonts/Gilroy-Medium.ttf") format("truetype"),
    url("../../fonts/Gilroy-Medium.woff") format("woff"),
    url("../../fonts/Gilroy-Medium.woff2") format("woff2");
  // url("../../fonts/Gilroy-Bold.ttf") format("truetype"),
  // url("../../fonts/Gilroy-Bold.woff") format("woff"),
  // url("../../fonts/Gilroy-Bold.woff2") format("woff2"),
  // url("../../fonts/Gilroy-Bold.eot") format("eot"),
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Gilory", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  // background: #ebebeb;
}

button,
input,
select {
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1344px;
  margin: 0 auto;
  padding: 0 2rem;

  @media screen and (max-width: 1024px) {
    max-width: 1024px;
  }

  @media screen and (max-width: 768px) {
    max-width: 768px;
  }

  @media screen and (max-width: 640px) {
    max-width: 100%;
    padding: 0 0.8rem;
  }
}

// main body
.main {
  margin-top: 61.5px; // header-height: ;
  padding-top: 2rem;
  // main__title
  &__title {
    @include font(2rem, 700, 2rem, $dark);
  }
}

// seach section
.section {
  margin-bottom: 4rem;
  // section__title
  &__title {
    @include font(2.25rem, 700, 2.5rem, $blue);
    margin-bottom: 2rem;
    @media screen and (max-width: 768px) {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    @media screen and (max-width: 425px) {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
    //section__title_white
    &_white {
      color: white;
    }
    // section__title_blue
    &_blue {
      color: $blue;
      display: flex;
      align-items: center;
      gap: 12px;
      img {
        width: 32px;
        color: red
      }
    }
  }
  // section__subtitle
  &__subtitle {
    @include font(1.2rem, 600, 1.5rem, $dark);
  }
  // section__description
  &__description {
    @include font(1rem, 400, 1.5rem, $dark);
    margin-bottom: 1rem;
  }
}

// base button
.base-button {
  @include font(1rem, 500, 1rem, $white);
  padding: 1rem;
  border-radius: 8px;
  background: $light-blue;
  transition: opacity 0.15s ease;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  i {
    line-height: 0;
  }
  @media screen and (max-width: 425px) {
    font-size: 0.8rem;
    padding: 0.7rem;
  }
  i {
    margin-left: 5px;
    transform: translateX(-5px);
    transition: transform 0.15s ease;
  }
  &:hover {
    opacity: 0.7;
    i {
      transform: translateX(0);
    }
  }
}

// breadcrumb
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  // breadcrumb__item
  &__item {
    @include font(1rem, 400, 0.75rem, $light-dark);
    a {
      @include font(1rem, 400, 0.75rem, $light-blue);
      transition: color 0.15s ease;
      &:hover {
        color: $yellow;
      }
    }
  }
  // breadcrumb__icon
  &__icon {
    color: $light-dark;
  }
}
