.footer {
  background: $blue;
  padding: 3.25rem 0;
}

.footer .nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  // nav__logo
  &__logo {
    max-width: 160px;
    display: block;
    img {
      width: 100%;
    }
  }
  // nav-social-networks
  &-social-networks {
    display: flex;
    align-items: center;
    gap: 1.125rem;
    margin-top: 2rem;
  }
  // nav-list
  // nav-list__item
  &-list__item {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    // nav-list__item-link
    &-link {
      @include font(1.31rem, 400, 1.6rem, $white);
      transition: color 0.15s ease;
      display: flex;
      align-items: center;
      gap: 0.7rem;
      &:hover,
      &.active {
        color: $yellow;
      }
    }
  }
}
