.header {
  padding: 0.75rem 0;
  background: #fffc;
  backdrop-filter: blur(24px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  // header__nav-wrapper
  &__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    // nav__logo
    &__logo {
      max-width: 160px;
      display: block;
      img {
        width: 100%;
      }
    }
    // nav-list
    &-list {
      display: flex;
      align-items: center;
      gap: 22px;
      // nav-list__item
      // nav-list__item-link
      &__item-link {
        @include font(0.875rem, 400, 12px, $blue);
        transition: color 0.15s ease;
        &:hover,
        &.active {
          color: $yellow;
        }
      }
    }
  }
  // header__phone
  &__phone {
    @include font(0.875rem, 400, 0.75rem, $dark);
    transition: color 0.15s ease;
    &:hover {
      color: $yellow;
    }
  }
  // header__lang
  &__lang {
    @include font(0.875rem, 400, 0.75rem, $dark);
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.15s ease;
    &:hover {
      opacity: 0.7;
    }
  }
  &__lang {
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    background: none;
    padding: 0;
    img {
      width: 24px;
      height: 16px;
    }
  }
}
