.header {
  padding: 2rem 0;
  background: #fffc;
  backdrop-filter: blur(24px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  // header-nav-wrapper
  &-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    @media screen and (max-width: 900px) {
      gap: 1rem;
    }
    // nav__logo
    &__logo {
      display: block;
      line-height: 0;
    }
    // nav-list
    &-list {
      display: flex;
      align-items: center;
      gap: 22px;
      @media screen and (max-width: 922px) {
        display: none;
      }
      // nav-list__item
      // nav-list__item-link
      &__item-link {
        @include font(1.2rem, 400, 1.8rem, $blue);
        transition: color 0.15s ease;
        &:hover,
        &.active {
          color: $light-blue;
          text-decoration: underline;
        }
      }
    }
  }
  .language {
    display: flex;
    align-items: center;
    gap: 1rem;
    @media screen and (max-width: 922px) {
      display: none;
    }
  }
  .hide-sidebar {
    display: none;
    @media screen and (max-width: 922px) {
      display: inline-block;
    }
  }
  // header__phone
  &__phone {
    @include font(1.125rem, 400, 1.4rem, $blue);
    transition: color 0.15s ease;
    &:hover {
      color: $yellow;
    }
  }
  // header__lang
  &__lang {
    @include font(1.125rem, 400, 1.36rem, $dark);
    background: none;
    cursor: pointer;
    transition: opacity 0.15s ease;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    img {
      width: 24px;
      height: 16px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  #burger {
    display: none;
    @media screen and (max-width: 922px) {
      display: inline-block;
    }
  }
}

// SIDEBAR
.header .sidebar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999999999999999;
  width: 33%;
  height: 100vh;
  background: #000000dc;
  backdrop-filter: blur(10px);
  padding-top: 1rem;
  transition: all 0.15s ease;
  transform: translateX(100%);
  &.active {
    transform: translateX(0);
  }
  // sidebar__hide-btn
  &__hide-btn {
    color: $white;
    margin-left: 2rem;
    font-size: 1.5rem;
  }
  .nav-list {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    // nav-list__item-link
    &__item-link {
      color: #ccc;
      &.active {
        color: $yellow;
      }
    }
  }
  @media screen and (max-width: 600px) {
    width: 50%;
  }
  @media screen and (max-width: 425px) {
    width: 100%;
  }
}
