@import "mixins";
@import "variables";
@import "base";
@import "header";
@import "sale-card";
@import "vacancy";
@import "footer";

// SWIPER
.swiper {
  width: 100%;
  height: 370px;
  background: #ddd;
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    height: 300px;
  }
  @media screen and (max-width: 580px) {
    height: 250px;
  }
  @media screen and (max-width: 375px) {
    height: 200px;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
  border: 1px solid rgb(229, 231, 235);
  background: rgba(255, 255, 255, 0.3);
  @media screen and (max-width: 425px) {
    width: 32px !important;
    height: 32px !important;
  }

  &::after {
    color: $white;
    font-size: 18px !important;
    font-weight: 900;
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: 16px;
    height: 4px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    background: $yellow;
  }
}

// CATEGORIES
.categories {
  display: grid;
  grid-template-columns: repeat(6, minmax(160px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  @media screen and (max-width: 1120px) {
    grid-template-columns: repeat(3, minmax(160px, 1fr));
  }
  @media screen and (max-width: 590px) {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
  }
  @media screen and (max-width: 425px) {
    grid-template-columns: repeat(1, minmax(160px, 1fr));
  }
  // categories__card
  &__card {
    width: 100%;
    // height: 200px;
    // categories__card-img
    &-img {
      width: 100%;
      aspect-ratio: 3 / 2;
      overflow: hidden;
      background: #ddd;
      border-radius: 8px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    // categories__card-title
    &-title {
      @include font(1.125rem, 400, 1.75rem, $blue);
      margin-top: 1.25rem;
      text-align: center;
    }
  }
}

// BEST SELLING
.best-selling-wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 26px;
  @media screen and (max-width: 1120px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 425px) {
    grid-template-columns: 1fr;
  }
  .best-selling-product {
    width: 100%;
    height: 346.5px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // best-selling-product__img
    &__img {
      height: 240px;
      border-radius: 12px;
      overflow: hidden;
      background: #1f366440;
      padding: 30px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    // best-selling-product__name
    &__name {
      @include font(18px, 400, 21.6px, #000);
      margin: 11px 0 14px;
    }
    // best-selling-product__indetail
    &__indetail {
      @include font(18px, 400, 22px, #000);
      width: 135px;
      border-radius: 10px;
      background: $yellow;
      padding: 8px;
      cursor: pointer;
      transition: opacity 0.15s ease-in-out;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

// SHORT SALES
.short-sales {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 2rem;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 1rem;
    .sales-card:last-child {
      grid-column: 1 / 3;
    }
  }
  @media screen and (max-width: 560px) {
    grid-template-columns: 1fr;
    .sales-card:last-child {
      grid-column: auto;
    }
  }
  // sales-card
  &__card {
    width: 100%;
  }
}

// BONUS
.bonus {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (max-width: 740px) {
    flex-direction: column;
    align-items: flex-start;
    .bonus__img {
      max-width: 60%;
      min-width: 80%;
      align-self: center;
    }
  }
  //  bonus__description
  &__description {
    @include font(1rem, 500, 1.5rem, $blue);
    flex-shrink: 0;
    width: 500px;
    @media screen and (max-width: 850px) {
      width: 400px;
    }
    @media screen and (max-width: 740px) {
      width: 100%;
    }
  }

  //  bonus__img
  &__img {
    width: 50%;
    max-width: 50%;

    img {
      width: 100%;
    }
  }
}

// FAQ
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .accordion {
    width: 100%;
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.15s ease;
    text-align: left;
    @include font(1.2rem, 600, 1.2rem, $dark);

    span {
      padding: 0 15px;
      font-size: 1.5rem;
      color: $blue;
    }

    &.active,
    &:hover {
      background-color: $blue;
      color: #fff;
      &:after,
      span {
        color: #fff;
      }
    }

    &:after {
      content: "\002B";
      color: $blue;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    &.active {
      border-radius: 8px 8px 0 0;

      &:after {
        content: "\2212";
        color: #fff;
      }
    }
  }

  .panel {
    padding: 0 18px;
    background-color: #f9f9f9;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 8px 8px;

    p {
      font-size: 16px;
      margin: 10px;
      color: $dark;
    }
  }
}

// SOCIAL NETWORKS
.social-networks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  //  social-networks__item
  &__item {
    @include font(1rem, 500, 2rem, $blue);
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background: $white;
    padding: 2rem 4rem;
    border: 1px solid #cccccc9f;
    border-radius: 28px;
    transition: all 0.15s ease;
    img {
      width: 70px;
      height: 70px;
    }

    &:hover {
      box-shadow: 0 0 25px 1px #ddd;
    }

    i {
      @include font(3rem, 500, 3rem, $light-blue);
    }
  }
}

// ABOUT US
.about-us {
  // about-us__info
  &__info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    // about-us__info-description
    &-description {
      @include font(1.5rem, 400, 2.2rem, $dark);
      margin-bottom: 2rem;
      letter-spacing: 1px;

      @media screen and (max-width: 425px) {
        font-size: 1rem;
        line-height: 1.25rem;
        margin-bottom: 1rem;
      }
    }
  }

  // about-us__status
  &__status {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    // about-us__status-icon
    &-icon {
      flex-shrink: 0;
      display: block;
      width: 65px;
      height: 65px;
      margin-left: 2rem;
      img {
        // display: none;
        width: 100%;
        height: 100%;
      }
    }
    & > div {
      width: 503px;
      height: 150px;
      display: flex;
      gap: 1.5rem;
      align-items: center;
      background: #eee;
      border-radius: 8px;

      div {
        @include font(2.5rem, 700, 2.5rem, $dark);
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 0.5rem;
        @media screen and (max-width: 425px) {
          font-size: 2rem;
        }

        span {
          @include font(1.5rem, 300, 1.5rem, $dark);
          @media screen and (max-width: 425px) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

// STORES ADDRESSES
.store-addresses {
  .select-input {
    @include font(1rem, 400, 1rem, $dark);
    border: 1px solid #ddd;
    padding: 0.75rem 1.5rem;
    width: 100%;
    // width: 250px;
    border-radius: 8px;
  }

  .store-branches-wrapper {
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
      .store-branches,
      .map {
        width: 100%;
      }
    }
  }

  .store-branches {
    width: 30%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    padding-right: 0.75rem;
    // store-branches__search-input
    &__search-input {
      @include font(1rem, 400, 1rem, $dark);
      border: 1px solid #ddd;
      padding: 0.75rem 1.5rem;
      width: 250px;
      border-radius: 8px;
      display: block;
      width: 100%;
      position: sticky;
      top: 0;
    }

    // store-branches__item
    &__item {
      padding: 12px;
      background: #aaccf3c0;
      cursor: pointer;
      transition: background 0.15s ease;
      border-radius: 8px;
      border: 1px solid #eee;

      &:hover,
      &.active {
        background: $white;
        border-color: #93c5fd;
      }

      i {
        font-size: 1.5rem;
        color: $yellow;
      }

      // store-branches__item-title
      &-title {
        @include font(1.2rem, 600, 1.2rem, $dark);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;

        span {
          @include font(0.7rem, 400, 1.2rem, $light-dark);
        }
      }

      // store-branches__item-subtitle
      &-subtitle {
        @include font(0.8rem, 400, 1rem, $dark);
      }
    }
  }

  .map {
    width: 70%;
  }
}

// MODAL
.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 880px;
  border: 1px solid #ddd;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  gap: 2rem;
  z-index: 1000;

  &__img {
    flex-shrink: 0;
    width: 280px;
    height: 280px;
    background: #1f366440;
    border-radius: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__close {
    font-size: 1.5rem;
    color: $blue;
    cursor: pointer;
    align-self: flex-end;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;

    .modal__title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .modal__description {
      font-size: 1rem;
    }
  }
}
