@import "mixins";
@import "variables";
@import "base";
@import "header";
@import "sale-card";
@import "footer";

.sales-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 1.5rem;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, minmax(280px, 1fr));
  }
}

.slug {
  margin-top: 2rem;
  .remaining-days {
    display: flex;
    align-items: center;
    gap: 1rem;
    span {
      @include font(1.3rem, 400, 1.5rem, $dark);
      & + span {
        padding: 1rem;
        border-radius: 8px;
        background: #4ade80;
        color: $white;
        // less than 7 days
        &.warning {
          background: #fbbf24;
        }
        // less than 3 days
        &.danger {
          background: #ef4444;
        }
      }
      @media screen and (max-width: 768px) {
        font-size: 1rem;
        & + span {
          padding: 0.4rem 0.5rem;
        }
      }
      @media screen and (max-width: 425px) {
        font-size: 1rem;
        & + span {
          padding: 0.2rem 0.5rem;
          font-size: 0.8rem;
        }
      }
    }
  }

  .figure {
    width: 100%;
    margin: 2rem 0;

    // figure__img-wrap
    &__img-wrap {
      width: 100%;
      height: 480px;
      border-radius: 8px;
      overflow: hidden;
      @media screen and (max-width: 580px) {
        height: 360px;
      }
      @media screen and (max-width: 425px) {
        height: 260px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    // figure__figcaption
    &__figcaption {
      @include font(1.5rem, 600, 2rem, $dark);
      margin-top: 1.25rem;
    }
  }

  .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    @media screen and (max-width: 580px) {
      padding: 2rem 0;
    }
    @media screen and (max-width: 520px) {
      flex-wrap: wrap;
      .timer__block:nth-child(3) {
        border-right-color: transparent;
      }
    }
    @media screen and (max-width: 452px) {
      .timer__block:nth-child(2) {
        border-right-color: transparent;
      }
      .timer__block:nth-child(3) {
        border-right-color: #22c55e;
      }
    }
    // timer__block
    &__block {
      @include font(1rem, 400, 1rem, $dark);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding: 0 3rem;

      &:nth-child(2) {
        border-left: 2px solid #22c55e;
        border-right: 2px solid #22c55e;
      }
      &:nth-child(3) {
        border-right: 2px solid #22c55e;
      }
      span {
        display: block;
        width: 125px;
        text-align: center;
        @include font(6rem, 600, 6rem, #22c55e);
      }
      @media screen and (max-width: 900px) {
        padding: 0 2rem;
        span {
          font-size: 5rem;
        }
      }
      @media screen and (max-width: 735px) {
        padding: 0 1rem;
        span {
          font-size: 4rem;
        }
      }
      @media screen and (max-width: 580px) {
        padding: 0 0.5rem;
        gap: 2px;
        span {
          font-size: 3rem;
        }
      }
    }
  }
}
