@import "mixins";
@import "variables";
@import "base";
@import "header";
@import "sale-card";
@import "footer";

.sales-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 1.5rem;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, minmax(280px, 1fr));
  }
}
