* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Gilory;
  src: url("../../fonts/Gilroy-Medium.eot") format("eot"), url("../../fonts/Gilroy-Medium.ttf") format("truetype"), url("../../fonts/Gilroy-Medium.woff") format("woff"), url("../../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Gilory", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

button,
input,
select {
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1344px;
  margin: 0 auto;
  padding: 0 2rem;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 100%;
    padding: 0 0.8rem;
  }
}

.main {
  margin-top: 61.5px;
  padding-top: 2rem;
}
.main__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: #111827;
}

.section {
  margin-bottom: 4rem;
}
.section__title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: #1f3664;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .section__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  .section__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}
.section__title_white {
  color: white;
}
.section__title_blue {
  color: #1f3664;
  display: flex;
  align-items: center;
  gap: 12px;
}
.section__title_blue img {
  width: 32px;
  color: red;
}
.section__subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #111827;
}
.section__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #111827;
  margin-bottom: 1rem;
}

.base-button {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  background: #016bd9;
  transition: opacity 0.15s ease;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.base-button i {
  line-height: 0;
}
@media screen and (max-width: 425px) {
  .base-button {
    font-size: 0.8rem;
    padding: 0.7rem;
  }
}
.base-button i {
  margin-left: 5px;
  transform: translateX(-5px);
  transition: transform 0.15s ease;
}
.base-button:hover {
  opacity: 0.7;
}
.base-button:hover i {
  transform: translateX(0);
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.breadcrumb__item {
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: rgba(33, 33, 33, 0.5019607843);
}
.breadcrumb__item a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #016bd9;
  transition: color 0.15s ease;
}
.breadcrumb__item a:hover {
  color: #fdc901;
}
.breadcrumb__icon {
  color: rgba(33, 33, 33, 0.5019607843);
}

.header {
  padding: 2rem 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(24px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.header-nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.header .nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
@media screen and (max-width: 900px) {
  .header .nav {
    gap: 1rem;
  }
}
.header .nav__logo {
  display: block;
  line-height: 0;
}
.header .nav-list {
  display: flex;
  align-items: center;
  gap: 22px;
}
@media screen and (max-width: 768px) {
  .header .nav-list {
    display: none;
  }
}
.header .nav-list__item-link {
  font-size: 1rem;
  font-weight: 300;
  line-height: 12px;
  color: #1f3664;
  transition: color 0.15s ease;
}
.header .nav-list__item-link:hover, .header .nav-list__item-link.active {
  color: #016bd9;
  text-decoration: underline;
}
.header .language {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .header .language {
    display: none;
  }
}
.header .hide-sidebar {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .hide-sidebar {
    display: inline-block;
  }
}
.header__phone {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #111827;
  transition: color 0.15s ease;
}
.header__phone:hover {
  color: #fdc901;
}
.header__lang {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #111827;
  background: none;
  cursor: pointer;
  transition: opacity 0.15s ease;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.header__lang img {
  width: 24px;
  height: 16px;
}
.header__lang:hover {
  opacity: 0.7;
}
.header #burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .header #burger {
    display: inline-block;
  }
}

.header .sidebar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000000000000000000;
  width: 33%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.862745098);
  backdrop-filter: blur(10px);
  padding-top: 1rem;
  transition: all 0.15s ease;
  transform: translateX(100%);
}
.header .sidebar.active {
  transform: translateX(0);
}
.header .sidebar__hide-btn {
  color: #fff;
  margin-left: 2rem;
  font-size: 1.5rem;
}
.header .sidebar .nav-list {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.header .sidebar .nav-list__item-link {
  color: #ccc;
}
.header .sidebar .nav-list__item-link.active {
  color: #fdc901;
}
@media screen and (max-width: 600px) {
  .header .sidebar {
    width: 50%;
  }
}
@media screen and (max-width: 425px) {
  .header .sidebar {
    width: 100%;
  }
}

.sales-card {
  width: 100%;
  height: 520px;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.sales-card__figure {
  width: 100%;
  height: 260px;
  overflow: hidden;
  background: #eee;
}
.sales-card__figure-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sales-card__info {
  height: calc(100% - 260px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sales-card__datetime {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: rgba(33, 33, 33, 0.5019607843);
}
.sales-card__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #111827;
  margin-top: 0.9rem;
}
.sales-card__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: rgba(33, 33, 33, 0.5019607843);
  margin-top: 0.625rem;
}
.sales-card__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales-card__action span {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: rgba(33, 33, 33, 0.5019607843);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.sales-card__action a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 36px;
  border-radius: 8px;
  background: #016bd9;
  color: #fff;
  transition: opacity 0.15s ease;
}
.sales-card__action a:hover {
  opacity: 0.7;
}

.footer {
  background: #1f3664;
  padding: 3.25rem 0;
}

.footer .nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer .nav__logo {
  max-width: 160px;
  display: block;
}
.footer .nav__logo img {
  width: 100%;
}
.footer .nav-social-networks {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 2rem;
}
.footer .nav-social-networks a {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #fdc901;
  transition: opacity 0.15s ease;
  opacity: 0.7;
}
.footer .nav-social-networks a:hover {
  opacity: 1;
}
.footer .nav-list__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer .nav-list__item-link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #fff;
  transition: color 0.15s ease;
}
.footer .nav-list__item-link:hover, .footer .nav-list__item-link.active {
  color: #fdc901;
  text-decoration: underline;
}

.sales-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 1.5rem;
}
@media screen and (max-width: 768px) {
  .sales-wrapper {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
}
@media screen and (max-width: 600px) {
  .sales-wrapper {
    grid-template-columns: repeat(1, minmax(280px, 1fr));
  }
}

.slug {
  margin-top: 2rem;
}
.slug .remaining-days {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.slug .remaining-days span {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #111827;
}
.slug .remaining-days span + span {
  padding: 1rem;
  border-radius: 8px;
  background: #4ade80;
  color: #fff;
}
.slug .remaining-days span + span.warning {
  background: #fbbf24;
}
.slug .remaining-days span + span.danger {
  background: #ef4444;
}
@media screen and (max-width: 768px) {
  .slug .remaining-days span {
    font-size: 1rem;
  }
  .slug .remaining-days span + span {
    padding: 0.4rem 0.5rem;
  }
}
@media screen and (max-width: 425px) {
  .slug .remaining-days span {
    font-size: 1rem;
  }
  .slug .remaining-days span + span {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
  }
}
.slug .figure {
  width: 100%;
  margin: 2rem 0;
}
.slug .figure__img-wrap {
  width: 100%;
  height: 480px;
  border-radius: 8px;
  overflow: hidden;
}
@media screen and (max-width: 580px) {
  .slug .figure__img-wrap {
    height: 360px;
  }
}
@media screen and (max-width: 425px) {
  .slug .figure__img-wrap {
    height: 260px;
  }
}
.slug .figure__img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slug .figure__figcaption {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #111827;
  margin-top: 1.25rem;
}
.slug .timer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
@media screen and (max-width: 580px) {
  .slug .timer {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 520px) {
  .slug .timer {
    flex-wrap: wrap;
  }
  .slug .timer .timer__block:nth-child(3) {
    border-right-color: transparent;
  }
}
@media screen and (max-width: 452px) {
  .slug .timer .timer__block:nth-child(2) {
    border-right-color: transparent;
  }
  .slug .timer .timer__block:nth-child(3) {
    border-right-color: #22c55e;
  }
}
.slug .timer__block {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #111827;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0 3rem;
}
.slug .timer__block:nth-child(2) {
  border-left: 2px solid #22c55e;
  border-right: 2px solid #22c55e;
}
.slug .timer__block:nth-child(3) {
  border-right: 2px solid #22c55e;
}
.slug .timer__block span {
  display: block;
  width: 125px;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  line-height: 6rem;
  color: #22c55e;
}
@media screen and (max-width: 900px) {
  .slug .timer__block {
    padding: 0 2rem;
  }
  .slug .timer__block span {
    font-size: 5rem;
  }
}
@media screen and (max-width: 735px) {
  .slug .timer__block {
    padding: 0 1rem;
  }
  .slug .timer__block span {
    font-size: 4rem;
  }
}
@media screen and (max-width: 580px) {
  .slug .timer__block {
    padding: 0 0.5rem;
    gap: 2px;
  }
  .slug .timer__block span {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=sales.css.map */
